<!DOCTYPE html>

<head>
	<title>勤怠管理ページ</title>
	<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- BootstrapのCSS読み込み -->
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
	<script src='/javascripts/bootstrap.min.js'></script>
	<script src='/javascripts/bootstrap.js'></script>
	<script src='/javascripts/dateformat.js'></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
	<script>
		//jQuery Initialize
		//$(document).ready(function(){
		$(function () {

		});

		function initialize() {
			/*
			employee_info		//社員情報
				department_id
					department_name
				class_id
					class_name
				dispatch_id
					dispatch_place
			employee_privacy 	//社員個人情報
				mail
				name
				birthday
				address
				phone_number
				hiredate
			attendances 		//当月の勤怠情報
				mail
				date
				start_time
				end_time
				message
			year 				//年
			month 				//月
			lastDate			//最終日
			*/

			//var year = <%-year%>;
			//var month = <%-month%>;
			
			<%if (attendances != undefined) {%>
				var attendanceList = <%- JSON.stringify(attendances);%>;
				var timeFormat = new DateFormat('HH:mm');
				for (var j = 0; j < attendanceList.length; j++) {
					var attendance_data = attendanceList[j];
					var date = new Date(attendance_data.date);
					var startTime = new Date(attendance_data.start_time);
					var endTime = new Date(attendance_data.end_time);
					var message = attendance_data.message;
					var dateNumber = date.getDate();
					var holidayCheckId = "#holiday_check_" + dateNumber;
					var recordId = "#record_" + dateNumber;
					var dayId = "#day_" + dateNumber;
					var dateId = "#date_" + dateNumber;
					var startTimeId = "#start_time_" + dateNumber;
					var endTimeId = "#end_time_" + dateNumber;
					var autoInputTimeId = "#auto_input_" + dateNumber;
					var workingTimeId = "#working_" + dateNumber;
					var breakTimeId = "#break_" + dateNumber;
					var stateId = "#state_" + dateNumber;
					var messageId = "#message_" + dateNumber;
					var state = attendance_data.state;
					
					console.log(attendance_data.start_time);
					$(startTimeId).val(timeFormat.format(startTime));
					$(endTimeId).val(timeFormat.format(endTime));
				}

			<%}%>
			
		}

		function prev_month() {
			var prevYear, prevMonth;

			if (<%= month %> == 1) {
				prevYear = <%=year %> - 1;
				prevMonth = 12;
			}else {
				prevYear = <%=year %>;
				prevMonth = ('00' + (<%= month %> - 1)).slice(-2);
			}
			location.href = "/attendance_management/" + prevYear + "_" + prevMonth;
		}

		function next_month() {
			var nextYear, nextMonth;
			if (<%= month %> == 12) {
				nextYear = <%=year %> + 1;
				nextMonth = ('00' + 1).slice(-2);
			}else {
				nextYear = <%=year %>;
				nextMonth = ('00' + (<%= month %> + 1)).slice(-2);
			}
			location.href = "/attendance_management/" + nextYear + "_" + nextMonth;
		}

		function onClickAutoInput(button) {
			var buttonId = $(button).attr("id");
			var splitValue = buttonId.split('_');
			var dateNumber = splitValue[splitValue.length-1];			
			var startTimeId = "#start_time_" + dateNumber;
			var endTimeId = "#end_time_" + dateNumber;
			var stateId = "#state_"+dateNumber;
			$(startTimeId).val('09:00');
			$(endTimeId).val('18:00');
			$(stateId).val('attendance');
		}

		function onClickAllAutoInput(){
			var recordLength = $('#tbody_attendances tr').length;
			for(var i = 1; i <= recordLength; i++){
				//var record_id = 'record_'+i;
				var holidayCheckId = "#holiday_check_" + i;
				
				console.log($(holidayCheckId).val());
				if($(holidayCheckId).val() == undefined){
					var startTimeId = "#start_time_" + i;
					var endTimeId = "#end_time_" + i;
					var stateId = "#state_" + i;
					$(startTimeId).val('09:00');
					$(endTimeId).val('18:00');
					$(stateId).val('attendance');
				}
			}
		}
	</script>
</head>

<body onload="initialize()">
	<h1>勤怠管理</h1>
	<div class="container">
		<h2>ユーザ情報</h2>
		<table class="table">
			<thead>
				<tr>
					<th>氏名</th>
					<th>メールアカウント</th>
					<th>部署</th>
					<th>職級</th>
				</tr>

			</thead>
			<tbody>
				<tr>
					<%
					if(employee_info != undefined && employee_privacy != undefined){
					%>
					<td><%=employee_privacy.name%></td>
					<td><%=employee_privacy.mail%></td>
					<td><%=employee_info.department_id.department_name%></td>
					<td><%=employee_info.class_id.class_name%></td>
					<%
					}
					%>
				</tr>
			</tbody>
		</table>
		<table class="table">
			<thead>
				<tr>
					<th>住所</th>
					<th>電話番号</th>
					<th>誕生日</th>
					<th>雇用日</th>
				</tr>

			</thead>
			<tbody>
				<tr>
					
					<%
					if(employee_privacy != undefined){
					%>
					<td><%=employee_privacy.address%></td>
					<td><%=employee_privacy.phone_number%></td>
					<td><%=employee_privacy.birthday%></td>
					<td><%=employee_privacy.hiredate%></td>
					<%
					}
					%>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">
		<h2>勤怠状況</h2>
		<div class="text-center">
			<h2>
				<input id="prev_month" class="btn btn-primary" type="button" value="先月" onclick="prev_month()" />
				<%=year%>年<%=month%>月
				<input id="next_month" class="btn btn-primary" type="button" value="来月" onclick="next_month()" />
			</h2>
		</div>
		<form action="/attendance_management/<%=year%>_<%=month%>" name="attendance_form" method="POST">
			<input id="save" name="save" class="btn" type="submit" value="保存" />
			<input id="all_auto_input" class="btn" type="button" value="一括入力" onclick="onClickAllAutoInput()"/>
			<table class="table">
				<thead>
					<tr>
						<th class="text-center">日</th>
						<th class="text-center">曜日</th>
						<th class="text-center">休日</th>
						<th class="text-center">開始時刻</th>
						<th class="text-center">終了時刻</th>
						<th class="text-center">時刻自動入力</th>
						<th class="text-center">稼動時間</th>
						<th class="text-center">休憩時間</th>
						<th class="text-center">出社状況</th>
						<th class="text-center">コメント</th>
					</tr>
				</thead>

				<tbody id="tbody_attendances">
					<%
					
				var dayLabels = new Array('日', '月', '火', '水', '木', '金', '土');
				for(var i = 1; i <= lastDate; i++){
					date = new Date(year, month-1, i);
					var dateNumber = date.getDate();
					var holidayCheckId = "holiday_check_"+dateNumber;
					var recordId = "record_"+dateNumber;
					var dayId = "day_"+dateNumber;
					var dateId = "date_"+dateNumber;
					var startTimeId = "start_time_"+dateNumber;
					var startHourId = "start_hour_"+dateNumber;
					var startMinuteId = "start_minute_"+dateNumber;
					var endTimeId = "end_time_"+dateNumber;
					var endHourId = "end_hour_"+dateNumber;
					var endMinuteId = "end_minute_"+dateNumber;
					var autoInputTimeId = "auto_input_"+dateNumber;
					var workingTimeId = "working_"+dateNumber;
					var breakTimeId = "break_"+dateNumber;
					var stateId = "state_"+dateNumber;
					var messageId = "message_"+dateNumber;				
				%>
					<tr id="<%=recordId%>">
						<td class="text-center" id="<%=dateId%>"><%=date.getDate()%>日</td>
						<td class="text-center" id="<%=dayId%>">
							<%if(date.getDay() == 0){%>
							<p class="text-warning">
								<%=dayLabels[date.getDay()]%>
							<%}else if(date.getDay() == 6){%>
							<p class="text-primary">
								<%=dayLabels[date.getDay()]%>
							<%}else{%>
							<p class="text-secondary">
								<%=dayLabels[date.getDay()]%>
							<%}%>
						</p>
					</td>
					<td>
							<%if(date.getDay() == 0 || date.getDay() == 6){%>
							<p id="<%=holidayCheckId%>" class="text-center" value="true">
								○
							</p>
							<%}%>
					</td>
					<td class="text-center">
						<input id="<%=startTimeId%>" type="time" />	
					</td>
					<td class="text-center">
						<input id="<%=endTimeId%>" type="time" />
					</td> 
					<td class="text-center">
						<button type="button" id="<%=autoInputTimeId%>" class="btn btn-primary"
								onclick="onClickAutoInput(this)">自動入力</button>
					</td>
					<td id="<%=workingTimeId%>" class="text-center" />
					<td id="<%=breakTimeId%>" class="text-center" />
					<td class="text-center">
						<select class="form-control" id="<%=stateId%>" name="state">
							<option value="attendance">正常出勤</option>
							<option value="late">遅刻</option>
							<option value="leave_early">早退</option>
							<option value="monthly_vacation">月次休暇</option>
							<option value="every_year_vacation">年次休暇</option>							
						</select>
					</td>
					<td class="text-center">
						<input class="form-control" id="<%=messageId%>" type="text" />
					</td>
				</tr>
					<%}%>
			</tbody>
		</table>
		</form>
	</div>
</body>
</html>