<!DOCTYPE html>
<html>
<head>
<title>コレクション管理 - 社員情報</title>
<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet' type="text/css" href='/stylesheets/bootstrap.min.css'/>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css" />  
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-table.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src='/javascripts/bootstrap.min.js'></script>
<script src='/javascripts/bootstrap-table.js'></script>
<script src='/javascripts/bootstrap-table-ja-JP.js'></script>
<script>
  $(function () {
      var collectionTable = $('#collectionTable');

      $('#deleteButton').on('click', function () {
          var idList = $.map(collectionTable.bootstrapTable('getSelections'), function (row) {
              return row.id;
          });

          var rowList = $.map(collectionTable.bootstrapTable('getSelections'), function (row) {
              return row;
          });
          console.log(idList);
          console.log(rowList);
          $.ajax({
            url:'/collection_management/employeeInfo/delete',
            type:'POST',
            data:rowList
          }).done(function(result){
            console.log(result);
          }).fail(function(data){
            console.log("Ajax fail");
            console.log(data);
          });
          collectionTable.bootstrapTable('remove', { field: 'id', values: idList });
      });

      $('#addButton').on('click', function () {
          saveRowData(true);
      });

      $('#updateButton').on('click', function () {
          saveRowData(false);
      });

      $('#addModalButton').on('click', function () {
          displayEditModal(true);
      });

      function displayEditModal(isAdd, rowIndex, rowData) {
          if (isAdd) {
              $('#editModalTitle').text('Add user');
              $('#addButton').show();
              $('#updateButton').hide();
              // $('#rowIndex').val('');
              $('#rowId').val('');
              $('#mail').val('');
              $('#dispatchPlaces').val('');
              $('#departments').val('');
              $('#classes').val('');
              $('#authorities').val('');
          } else {
              $('#editModalTitle').text('Update user');
              $('#addButton').hide();
              $('#updateButton').show();
              $('#rowIndex').val(rowIndex);
              $('#rowId').val(rowData.id);
              $('#mail').val(rowData.mail);
              $('#dispatchPlaces').val(rowData.dispatch_id);
              $('#departments').val(rowData.department_id);
              $('#classes').val(rowData.class_id);
              $('#authorities').val(rowData.authority_id);
          }
          $('#editModal').modal('show');
      }

      function saveRowData(isAdd) {
          var rowId = $('#rowId').val();
          var rowData = {
              id: $('#rowId').val(),
              mail: $('#mail').val(),
              department_id:$('#departments').val(),
              department: $('#departments option:selected').text(),
              class_id:$('#classes').val(),
              class: $('#classes option:selected').text(),
              authority_id:$('#authorities').val(),
              authority: $('#authorities option:selected').text(),
              dispatch_id:$('#dispatchPlaces').val(),
              dispatch: $('#dispatchPlaces option:selected').text()
          };

          $.ajax({
            url:'/collection_management/employeeInfo/upsert',
            type:'POST',
            data:rowData
          }).done(function(result){
            if(result.upserted != undefined){
              let id = result.upserted[0]._id;
              rowData.id = id;
            }

            if (isAdd) {
              var dataList = collectionTable.bootstrapTable('getData');
              collectionTable.bootstrapTable('insertRow', { index: dataList.length, row: rowData });
            } else {
              var rowIndex = $('#rowIndex').val();
              collectionTable.bootstrapTable('updateRow', { index: rowIndex, row: rowData });
            }
            console.log("Ajax Done");
            console.log(rowData);
          }).fail(function(data){
            console.log(data);
            console.log("ajax fail");
          });

          $('#editModal').modal('hide');
          
          $('#rowId').val('');
          $('#mail').val('');
          $('#dispatchPlaces').val('');
          $('#departments').val('');
          $('#classes').val('');
          $('#authorities').val('');
      }

      var initDataList = [
          <%
              for(var i = 0; i < employeeInfos.length; i++){      
          %>
          {
              id: "<%=employeeInfos[i]._id%>",
              mail: "<%=employeeInfos[i].mail%>",
              department_id:"<%=employeeInfos[i].department._id%>",
              department:"<%=employeeInfos[i].department.department%>",
              class_id:"<%=employeeInfos[i].class._id%>",
              class:"<%=employeeInfos[i].class.class%>",
              authority_id:"<%=employeeInfos[i].authority._id%>",
              authority:"<%=employeeInfos[i].authority.authority%>",
              dispatch_id:"<%=employeeInfos[i].dispatch._id%>",
              dispatch:"<%=employeeInfos[i].dispatch.dispatch_place%>"
          },
          <%
          }
          %>
      ]
      collectionTable.bootstrapTable({
          toolbar: '#toolbar',
          data: initDataList,
          columns: [
              {
                  field: 'selected',
                  checkbox: true,
                  align: 'center'
              },
              {
                  field: 'mail',
                  title: 'Mail'
              },
              {
                  field: 'department',
                  title: 'Department'
              },
              {
                  field: 'class',
                  title: 'Class'
              },
              {
                  field: 'authority',
                  title: 'Authority'
              },
              {
                  field: 'dispatch',
                  title: 'Dispatch'
              }
          ]
      }).on('click-row.bs.table', function (event, row, element, field) {
          displayEditModal(false, element.index(), row);
      });
  });
</script>
</head>
<body>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">社員情報管理</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
            <div id="toolbar">
              <input class="btn btn-default" type="button" id="deleteButton" value="削除" />
              <input class="btn btn-default" type="button" id="addModalButton" value="追加" />
            </div>
          <table id="collectionTable"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--追加・更新のModalダイアログ -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Modal ヘッダー-->
      <div class="modal-header">
        <!--終了ボタン-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!--Modal タイトル-->
        <h3 class="modal-title" id="editModalTitle">Add user</h3>
        <input type="hidden" id="rowIndex" value="1" />
        <input type="hidden" id="rowId" value="" />
      </div>
      <!--Modal 内容-->
      <div class="modal-body">
        <form class="form-horizontal" role="form" onsubmit="return false;">
          <!--メールアドレス欄-->
          <div class="form-group">
            <label class="control-label col-sm-2">Mail:</label>
            <div class="col-sm-10">
              <input class="form-control" type="mail" id="mail" />
            </div>
          </div>
          <!--部署欄-->
          <div class="form-group">
            <label class="control-label col-sm-2">Department: </label>
            <div class="col-sm-10">
              <select class="form-control" id="departments">
                <%
                if(departments != undefined){
                    for(var i = 0; i < departments.length; i++){                           
                %>
                <option value="<%=departments[i]._id%>"><%=departments[i].department%></option>
                <%
                    }
                }
                %>
              </select>
            </div>
          </div>
          <!--役職欄-->
          <div class="form-group">
            <label class="control-label col-sm-2">Class: </label>
            <div class="col-sm-10">
              <select class="form-control" id="classes">
                <%
                if(classes != undefined){
                    for(var i = 0; i < classes.length; i++){                           
                %>
                <option value="<%=classes[i]._id%>"><%=classes[i].class%></option>
                <%
                    }
                }
                %>
              </select>
            </div>
          </div>
          <!--業務先欄-->
          <div class="form-group">
            <label class="control-label col-sm-2">Dispatch: </label>
            <div class="col-sm-10">
              <select class="form-control" id="dispatchPlaces">
                <%
                if(dispatchPlaces != undefined){
                    for(var i = 0; i < dispatchPlaces.length; i++){                           
                %>
                <option value="<%=dispatchPlaces[i]._id%>"><%=dispatchPlaces[i].dispatch_place%></option>
                <%
                    }
                }
                %>
              </select>
            </div>
          </div>
          <!--権限欄-->
          <div class="form-group">
            <label class="control-label col-sm-2">Authority: </label>
            <div class="col-sm-10">
              <select class="form-control" id="authorities">
                <%
                if(authorities != undefined){
                    for(var i = 0; i < authorities.length; i++){                           
                %>
                <option value="<%=authorities[i]._id%>"><%=authorities[i].authority%></option>
                <%
                    }
                }
                %>
              </select>
            </div>
          </div>
        </form>
      </div>
      <!--ボタン配置-->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="addButton">Add</button>
        <button type="button" class="btn btn-primary" id="updateButton">Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>